<div class="mainAbout">
	<h2>Relive your favorite memories</h2>
</div>

<div class="secondaryAbout">
	<h3>No more sorting through photos</h3>
	<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
	<div class="btn btn-default"><%= link_to 'Sign up', '/' %></div>
</div>