<div class="container-fluid">
	
	<div id="sidr">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		<ul>
	</div>

	<div class="main">
		<a id="simple-menu" href="#sidr"><%= image_tag "menu.svg" %></a>
		<div class="headline">
			<h2>Stories</h2>
			<div class="btn btn-default">Learn more</div>
		</div>
		
	</div>
	<div class="supporting">
		<h3>Relive and share your adventures</h3>
		<p>Stories automatically creates a digital journal filled with only your best photos.</p>
	</div>
	<div class="secondary"></div>
	<div class="discover">
		<h3>Discover Stories</h3>
		<div class="btn btn-default">Learn more</div>
	</div>
</div>