// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	font-family: 'Oswald', arial
}
.container-fluid{
	padding: 0px !important;
}
.main{
	background-image: image-url("bridge.jpg");
	background-repeat: no-repeat;
	height:400px;
	text-align: center;
}
.headline{
	padding-top: 170px;
	color: white;
}
.supporting{
	height:300px;
	text-align:center;
}
.supporting h3{
	padding-top:100px
}
.secondary{
	background-image: image-url("statue.jpg");
	height:400px;
}
.discover{
	height:300px;
	padding-top:100px;
	text-align:center;
}
.secondaryAbout{
	height:300px;
	text-align: center;
	padding-top:60px;
}
.secondaryAbout p{
	padding: 30px 0;
}
.mainAbout{
	background-image: image-url("beach.jpg");
	height:400px;
	text-align:center;
}
.mainAbout h2{
	padding-top: 50px;
	margin:0px;
}
.thanks{
	height:500px;
	background-image: image-url("rocks.jpg");
	text-align: center;
}
.formDiv .form-group{
	color:white;
	text-align:left;
}
