// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainContact{
	background-image: image-url("desk.jpg");
	height: 500px;
	text-align:center;
}
h2{
	padding-top: 110px;
	margin: 0px;
	color:white;
}
form{
	padding-top:30px;
}
.formDiv{
	margin-left:250px
}